.logo .loupe {
    background: url('../images/logo.png') no-repeat 26px 4px;
    background-size: 38%;
    width: 170px;
    height: 90px;
}

.content div.slider[data-id="2"] {
    background: url('../images/overlay.png'), url('../images/brio_stroy_bkg1.jpg');
    background-size: 256px 256px, cover;
    background-position: top left, bottom center;
    background-repeat: repeat, no-repeat;
}

.content div.slider[data-id="0"] {
    background: url('../images/overlay.png'), url('../images/brio_stroy_bkg2.jpg');
    background-size: 256px 256px, cover;
    background-position: top left, bottom center;
    background-repeat: repeat, no-repeat;
}

.content div.slider[data-id="1"] {
    background: url('../images/overlay.png'), url('../images/brio_stroy_bkg3.jpg');
    background-size: 256px 256px, cover;
    background-position: top left, bottom center;
    background-repeat: repeat, no-repeat;
}

.articles .article_header h1::before {
    background: #E85222;
}

.content .block_ins .brio-tasks {
    background-color: #E85222;
}

.button-blue {
    background: #E85222;
}

.price_buttons_head {
    color: #E85222;
}

    .price_buttons_head::before {
        background: #E85222;
    }

.articles .article_header h1 {
    color: #E85222;
}

.bottom-logo {
    font-size: 27.1px;
}

.bottom-logo .company {
    font-size: 15px;
    margin-left: 0.5px;
}

.big-logo {
    right: 50%;
    margin-right: -120px;
}

.slider[data-id='0'] .big-logo {
    background: url('../images/big_logo1.png') no-repeat 0 0;
    background-size: 100%;
}
.slider[data-id='1'] .big-logo {
    background: url('../images/big_logo2.png') no-repeat 0 0;
    background-size: 100%;
}
.slider[data-id='2'] .big-logo {
    background: url('../images/big_logo3.png') no-repeat 0 0;
    background-size: 100%;
}

.menu {
    margin-left: -354px;
}