@{
    ViewBag.Title = "Панель админа";
    Layout = "~/Views/Layouts/LayoutDefault.cshtml";
}

<div class="container run1">
    <div data-id="0" class="slider"></div>
</div>
<div class="block_ins">
    <div class="title">
        @ViewBag.Title
    </div>
    <article class="page-content">
        <div class="articles">
            
        </div>
        <div class="brio-tasks">
            <div class="bottom-corner"></div>
        </div>
    </article>
</div>
<div class="bottom_arrows_container">
    <div class="bottom-arrows">
    </div>
</div>

