<?xml version="1.0"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" 
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Warn"
      internalLogFile="c:\temp\internal-nlog.txt">
  
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>
  
  <targets>
    <target name="logfile" xsi:type="File"
            fileName="${basedir}\logs\debug.log"
            encoding="utf-8"
            layout="[${longdate}][${callsite:includeNamespace=false}][${level}] ${message} ${exception}"
            header="====================== BEGIN_LOG ======================"
            footer="====================== END_LOG ======================"
            keepFileOpen="false"
            archiveFileName="${basedir}\core\debug.log_${shortdate}"
            archiveNumbering="Sequence"
            archiveEvery="Day"
            maxArchiveFiles="30"/>
  </targets>
  <rules>
    <logger name="*" minlevel="Info" writeTo="logfile" />
  </rules>
</nlog>